@media screen and (max-width: 1440px) {
.search_informations{ bottom:45px;}	
.search_informations h2{ font-size:34px;}
.banner_section{ min-height: 465px;}
.search_fellid .form-control,p#cout{ font-size:17px;}
.duraction .select2-container--default .select2-selection--single .select2-selection__rendered{ font-size:17px;}
.navbar_right .navbar-nav li a{font-size:21px;}	
footer h2{font-size:19px;}
.singup_info .sign_up .signup_inner_containt label{ line-height:33px;margin: 3px 0;}	
.signup_image{ margin: 0 0 6px;}
.singup_info .sign_up .signup_inner_containt .checkmark_button .checkmark {    top: 6px;}
.signup_inner_containt .checkmark_button{ margin:12px 0 7px 0;}
.button_signup{ margin: 0 0 6px;}
.singup_info .sign_up .signup_inner_containt .form-control{ font-size:15px;}
.facebook_sign a,.google_plus_sign a{ line-height: 43px;    min-height: 43px;}
.login .connect_with{ margin: 21px 0 0;}
.aligin_center h1{ font-size:36px; margin:17px 0 27px;}
.aligin_center p{ font-size:19px;}
.home_infomations_business .list_works h3{ font-size:20px;}
.home_infomations_business .list_works p{ font-size:15px;}
.list_of_check ul li{ padding:5px 0 26px 46px; font-size: 17px;}
.price_list_busness h3{ font-size:25px;}
.price_list_busness h4{ font-size:15px;}
.price_list_busness b{ font-size:42px;}
.price_box3 .price_list_busness b{ font-size:28px;}
.prgrass_bar ul li{ font-size:17px;}
.price_list_busness .myr{ margin:10px 7px 0 0;}
.sigun_up_butt .btn.btn-default{ font-size: 19px; padding:7px 46px;}
.price_box3 .prgrass_bar {    min-height: 118px;    text-align: center;}
.home_infomations_signup_free h2{ margin:53px 0 26px; font-size:27px;} 
.home_infomations_signup_free{ min-height:277px;}
.home_infomations_signup_free h3{ font-size:19px;}
.home_infomations_signup_free .btn.btn-default{ font-size:16px;}
.banner_sections_inner.blog_det img{ max-width:100%;} 
}

@media screen and (max-width: 1366px) {
.booking_title{ font-size:23px;}	
.sms_send h4{ font-size:13px;}	
.booking_isd label{ font-size:19px;margin: 5px 0 9px;}	
.hotels_info_img label{  font-size: 18px;}
.date_list_midd h3,.booking_title{  font-size: 21px;}
.date_info_list .room_title {    font-size: 21px;}
.booking_info_ammounts h3 {    font-size: 20px;}
.inner_book_list h3 {    font-size: 20px;}
.smothing_canceld b{    font-size: 20px;}
.select_room h2, .rules h1, .display h1, .description h5 {    font-size: 20px;}
.hotels_info_img h1{ font-size:23px;}
.hotels_info_img h4{ font-size:16px;}


.booking_isd b{ font-size:20px;}	
.hotels_info_img h4 strong{ font-size:16px; margin:0px 0 23px;}	
.hotels_info_img label strong{ font-size:19px;}	
.payhotel .input-group .form{ line-height: 35px;}	
.Guest_Details .btn{ height:50px; font-size:22px;}
.payhotel .check_inout .btn{ line-height:34px;}
.pay_now_buttons b{ font-size:22px;}
.display p{font-size:17px;}	
.Intrro_section h2{ font-size:21px;}	
.Intrro_section p{ font-size:18px;}	
.list_works label{ font-size:21px;}	
.list_works img{ max-width:145px;}
.explore_title h3{ font-size:29px;}
.city_names h2{ font-size:21px;}
.city_names h4{ font-size:18px;}
.search_by_rooms .btn-primary{ font-size:21px;}
.search_fellid .btn-danger{ height:49px;}
.search_info h2{ font-size:23px;}
.aside_title{ font-size:20px;}
.aside_right ul.tabs li{ font-size:18px;}
.product_info h5{ font-size:20px;}
.product_info p{ font-size:17px;}
.hotel_address h1{ font-size:21px;}
.hotel_address p{ font-size:17px;}
.select_room h2{ font-size:17px;}
.select_room h2,.rules h1,.display h1,.description h5{ font-size:21px;}
.ratings b{ font-size:41px;}
.rec_otel{ font-size:23px;}
.payhotel .hotel_detail h1,.payhotel h4,.payhotel .check_inout .payment_details h1,.Guest_Details h1{ font-size:24px;}
.signup_image{ margin-bottom:5px;}
.singup_info .sign_up .signup_inner_containt label{ line-height:33px;}
}

@media screen and (max-width:1280px) {
.room_type_list .gust_common .icon_bg {width: 73px;}
.room_type_list .gust_common .gust_qt {width: 81px;}
.payhotel .check_inout label{font-size: 16px;}
.payhotel .check_inout .payment_details p{font-size: 16px;}
.payment_details h2{font-size: 16px;}
.search_informations h2 {    font-size: 31px;}
.search_informations {bottom: 40px;}
.banner_section {    min-height: 415px;}


}

@media screen and (max-width: 1190px) {
.payhotel .select .select2-container--default .select2-selection--single .select2-selection__rendered {font-size: 14px;}
.payhotel .input-group .form1{font-size: 16px}
.bhoechie-tab-container .bhoechie-tab-menu .list-group-item{font-size: 16px}
.search_informations h2{font-size: 30px;}
.sign_upcooper{ width:100%;}
}
@media screen and (max-width: 1024px) {
.cust8{max-width: 16.666667%;}
.cart_sections_tables .table-responsive{overflow-x:auto;}
.sign_upcooper{ width:100%; padding: 14px 0 0 21px;}
.select_roomes{padding: 14px 0 0 21px;}
.search_fellid.well.configurator .form-control {    padding: 4px 0 0 41px;}
.duraction .select2-container--default .select2-selection--single .select2-selection__rendered {    font-size: 13px;}
.search_informations h2 {    font-size: 25px;}
.sign_upcooper label,.select_roomes label{    font-size: 17px;}
.search_informations {    bottom: 0;    top: 29px;}
.search_inners{min-height: 228px; padding:0 15px;}
.search_fellid.well.configurator .check_in .form-control{background-position:8px 12px;}
.search_fellid .form-control, p#cout{ font-size:15px;}
.search_fellid.well.configurator .check_out .form-control {background-position:8px 12px;}
}

@media screen and (max-width: 991px) {
.elections_sections .payment_info .btn-primary {color: #fff;font-size: 14px;margin-bottom: 12px;margin-top: 10px;
padding: 6px 15px;}	
.select_roomes{ padding:0px;}	
.search_inners .col-md-6{ width:100%; max-width:100%; flex: 0 0 100%;}
.hidden_responsive {    display: none;}
.banner_section {    min-height:516px; background:#e1e1e1;}
.search_informations h2{ margin: 16px 0 13px;}	
.search_informations {bottom: 0;top:6px;}
.list_of_explore img{ max-width:100%;}
.sign_upcooper{padding:13px 0 0;}	
.gust_common {    width: 138px;}	
.responsive_filter {padding: 0px 0px 10px 10px;display: block;}
.collapse {display: none;}
.responsive_filter img{cursor: pointer;}
.responsive_filter h5 {font-size: 14px;display: inline;color:#ff3366;line-height: 35px;padding-left: 5px;}
.card{border-radius:0;border: 0; }
 .card-body{padding: 10px 0;}
.search_info h2{font-size: 20px;}
.search_info label{font-size: 14px;}
.search_info .btn-primary{font-size: 18px;}
.container_common{margin-top: 20px;margin-bottom: 5px;}
.hotel_address h1{font-size:24px;line-height: 34px}
.hotel_address p{font-size: 16px;}
.property h4{font-size: 16px;line-height: 25px;}
.property p{font-size: 16px;}
.roomtype h2{font-size: 20px;margin: 0px 0 8px 0;}
.roomtype label{font-size: 16px;}

.duraction .select2-container--default .select2-selection--single .select2-selection__arrow{top:4px;}
.icon_bg i{font-size: 20px;line-height: 40px;}

.room_type_list .gust_common .icon_bg {height: 40px;width: 50%;}
.room_type_list .gust_common .gust_qt {height: 40px;width: 50%}
.gust_qt .select2-container--default .select2-selection--single .select2-selection__arrow {top: 7px;}
.gust_qt .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px;padding-right: 28px;}
.room_type_list .duraction .select2-container{width:100% !important;}
.mainsection h3{font-size: 15px;}
.display h1{line-height: 25px;font-size: 20px;}
.rules li{font-size: 16px;}
.display p i{font-size: 12px;}
.display p{font-size: 14px;line-height: 23px;}
.display .nav-tabs .nav-link{font-size: 16px;}
.add_more a{line-height: 25px;font-size: 18px;}
.loade_more a{font-size: 16px;}
.location h1{font-size: 20px;}
.ratings h5{font-size: 16px;line-height: 40px;}
.ratings b{font-size: 35px}
.glyph-icon.rate1 {max-width: 100%;}
.ratings h3{font-size: 13px;}
.ratings p{font-size: 14px;}
.padding_right0 {padding-right: 15px;}
.over_all_rating{padding: 0 18px 12px 19px;}
.description h5{line-height: 30px;font-size: 20px;}
.pagination_section h4{font-size: 18px;line-height: 30px;}
.description li{font-size: 16px;}
.rec_otel{font-size: 20px;margin: 25px 0px;}
.others h5{font-size: 18px;line-height: 30px;}
.all_items{margin: 0px;}
.others .all_items{margin: 0px 0 25px 0;}
footer h2{line-height: 30px;font-size: 20px;}
footer li{font-size: 13px;}
/*checkout_payment*/
.payhotel h4{margin: 0;font-size: 18px;}
.payhotel p{font-size: 12px;line-height: 15px;}
.payhotel h5{font-size: 16px; }
.bhoechie-tab-container .bhoechie-tab-menu .list-group-item{font-size: 12px;}
.payhotel .input-group .form1{font-size: 13px;}
.payhotel .select2-container--default .select2-selection--single .select2-selection__arrow b{border-width: 5px 5px 0 5px;}
.payhotel .input-group .form1{line-height: 32px;}
.payhotel .hotel_detail h1{font-size: 18px}
.payhotel .hotel_detail p{font-size: 11px;}
.payhotel .check_inout label{font-size: 16px;}
.payhotel .check_inout p{font-size: 14px; line-height: 25px;}
.payhotel .check_inout .btn{font-size: 14px;}
.payhotel .check_inout .payment_details h1{font-size: 18px;}
.payhotel .check_inout .payment_details span{font-size: 12px;}
.payment_details  h2 {font-size: 14px;}
.payhotel .edit_btn .paynow_btn{height: 40px;font-size: 16px;}
.select2.select2-container.select2-container--default.select2-container--below {margin-bottom: 23px;}
.hotel_detail .hotel_image{height: 80px;width: 80px;}
.gust_detial_left{padding: 15px 15px;}
.gust_detial_left hr{margin: 5px 0 0 0}
.payhotel h4{line-height: 30px}
.payhotel .input-group .form{font-size: 16px;line-height: 25px;margin: 0;}
.Guest_Details label{font-size: 16px;margin: 0}
.have_you_cop{margin: 0}
.Guest_Details h1{font-size: 18px;}
.Guest_Details .btn{font-size: 16px;height: 40px;padding: 5px 25px;}
.Guest_Details .form-control{height: 40px;font-size: 14px}
.Guest_Details .guest_gyp::before{font-size: 16px;}
.Guest_Details .check span{font-size: 16px;margin: 0}
.padding_res0{padding: 0;}
.Guest_Details h1{line-height: 37px; margin:0}
.edit_rooms span{font-size: 13px !important;}
.edit_rooms span i{font-size: 14px;}
.edit_rooms span{margin: 0px !important;}
.payhotel .check_inout .payment_details h1{margin: 0}
.pay_now_buttons b{font-size: 16px;}
.Guest_Details h6{font-size: 17px;}
.booking_info{margin: 0}

/*conform_booking*/
.sms_send{margin: 15px 0 17px 0;}
.your_orders_sucess{margin: 35px 0 25px;}
.your_orders_sucess .btn-success{margin: 20px 0 0;}
.booking_isd label{margin: 0}
.booking_isd b{margin: 0}
.booking_isd p{margin: 0}
.hotel_booking_info{margin: 0}
.hotel_info_img{text-align: center}
.hotel_info_img img{width: 100px;height: 100px;}
.hotels_info_img h1{margin: 0;font-size: 20px;}
.hotels_info_img p{font-size: 16px;margin: 0px;}
.hotels_info_img label strong{font-size: 20px;margin: 0px;}
.hotels_info_img label{font-size: 16px;margin: 0}
.hotels_info_img h4{font-size: 16px;margin: 0}
.hotels_info_img h4 strong{font-size:20px}
.date_list_midd h3, .room_title{font-size: 20px}
.booking_info_ammounts h3{font-size: 20px;}
.inner_book_list h3{font-size: 20px;}
.inner_book_list h4{font-size: 18px}
.smothing_canceld b{font-size: 20px}
.rules h1{font-size: 22px;}
.rules.cancel_pay h1{margin: 10px 0 10px 0;}
.Intrro_section h2{font-size: 24px;}
.list_works img{width:80px;}
.explore_title h3{font-size: 25px;}
.select_roomes{ width:100%;}
.pagination_right{ margin-top:20px;}
.proparty_img{ line-height:112px;}
.header_ourt.header_options.listing_header #toggle-nav span, #toggle-search span{ color:#0baab7;}
.header_ourt.header_options.listing_header #toggle-nav, #toggle-search{height: 54px;line-height: 30px;}
.navbar-nav.disply_hidden{display:none;}
}


@media screen and (max-width: 800px) {
.your_orders_sucess {    margin: 19px 0 16px;}	
.date_info_bookings ul li{  margin: 9px 0 0;}
.smothing_canceld b{  padding: 9px 0;}
.responsive_hiddn{display:none;}
.responsive_menu{  background: #fff;display: none;position: absolute;right: 0;top:53px;width:175px;  z-index: 2; border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);}
.responsive_menu ul li{display:inline-block; width:100%; border-bottom: 1px solid #f1f1f1;}
.responsive_menu ul li a{ font-size:20px; font-weight:500; color:#333; display:inline-block; padding: 6px 13px; width:100%;}
.responsive_menu ul li:last-child{ border-bottom:none;}
.responsive_menu ul li a:hover{background:#0baab7; color:#fff; text-decoration:none;}
.header_ourt{ min-height: 76px;}
.brand_logo img{ max-width:129px;}
.header_ourt.header_options .navbar_right{  margin: 23px 0 0;}
#click_menus{ width:39px; height:32px; display:inline-block; background:url("../images/menu.png") no-repeat;}
}
@media screen and (max-width: 768px) {
.duraction .select2-container--default .select2-selection--single .select2-selection__rendered {    font-size: 15px;}
.duraction .select2-container--default .select2-selection--single .select2-selection__arrow {    top: 12px;}	
.hidden_responsive{display:none;}
.sign_upcooper,.select_roomes,.sign_upcooper{ padding:0px;}	
.disply_hidden{display:none;}	
.search_info h2 {font-size: 15px;}
.search_info label {font-size: 12px;}
.search_info .btn-primary {font-size: 13px;}
.aside_right ul.tabs li{font-size: 14px;}
.product_info h5 {font-size: 20px;}
.product_info p{font-size: 12px;}
.brand_logo{text-align: left}
.navigation,.navbar_right .button-box{display:block;}
.navbar_centr{text-align: center;}
.header_ourt.header_options .navbar_right{width: 100%;margin: 23px 0 15px;}
.navbar-expand-sm{display: inline-block}
.date_list_night{width: 100%}
.sms_send h4{font-size: 16px}
.booking_title{font-size: 22px}
.your_orders_sucess p{font-size: 16px}
.your_orders_sucess{margin: 25px 0 25px;}
.booking_isd label, .booking_isd p{font-size: 16px}
.booking_isd b{font-size: 18px}
.date_list_midd h3, .room_title{font-size: 16px;}
.date_list_midd p{font-size: 14px}
.booking_info_ammounts h3{font-size: 16px;}
.inner_book_list h3{font-size: 16px}
.inner_book_list h4{font-size: 16px;}
.inner_book_list.paid_info h4{margin: 0}
.inner_book_list.info_listing h3{margin: 0}
 .rules{margin: 0}
 .header_ourt.header_options .navbar_right{text-align: right}
.sign_upcooper{width: 100%;}
 .search_fellid .btn-danger{height: 35px;}
 .sign_upcooper label{font-size: 16px;}
.admin_photo img{ width: 81px;height: 81px;} 
.blog_det_admin{ min-height:114px;}
.footer_social ul li{ margin: 0;} 
.respnsive_cat{display:block;} 
.width_100{width:100%; -moz-box-flex: inherit;    flex: inherit;    max-width: inherit;}
.all_listing{ margin:0px;}
.proparty_img{ line-height:187px;}
.cat_100{display:none; flex: inherit; max-width:100%; -webkit-flex: inherit;}
.aside_right ul.tabs li{ font-size:18px;}

}
@media screen and (max-width: 736px) {
.date_info_list .room_title{ text-align:left;  font-size: 16px;}
.inner_referral_midd{ width:100%;}

}
@media screen and (max-width: 630px) {
.search_by_rooms{margin: 27px 0;}	
}
@media screen and (max-width: 560px) {
.business_banner.banner_leftsec .signup_form {    margin: 10px 0 24px;}
.all_listing_custcol{max-width: 33.4%;}
.padding_left0{padding-left: 15px;}
.singup_info .sign_up,.singup_info .sign_up .signup_inner_containt{ width:100%;}
.search_informations{ position:relative; top:0px;}
.navbar_right {float: none;display: inline-block;}
.search_informations h2 {    font-size: 20px;}
.Intrro_section span img{ max-width:60px;}
.Intrro_section h2{font-size:15px; margin:33px 0 14px;}
.Intrro_section p{ font-size:15px;}
.waleet_host_sec{ width:100%;}
.list_works{margin:3px 0 4px;}
.pagination_section span{width: 45px;height: 45px;line-height: 42px;}
 footer li{line-height: 25px;}
footer a{font-size: 14px; }
footer li {font-size: 14px;}
footer h2 {line-height: 10px;font-size: 14px;}
.hotel_address h1 {font-size: 16px;line-height: 20px;}
.select_room{margin: 0}
.select_room h2{line-height: 25px;font-size: 14px;}
.select_room .select_btn {font-size: 15px;padding: 5px 0 5px 0;}
.product_info h5 {font-size: 14px;}
.pagination_section h4{font-size: 15px;}
.pagination_section p{font-size: 12px;}
.description li {font-size: 12px;}
.rules li {font-size: 12px;}
.mainsection .book_now .book{font-size:13px; }
.mainsection h5{font-size: 14px;}
.display h1{font-size: 16px;}
.header_ourt.header_options .navbar_right .navbar-nav li a{font-size: 14px;}

.your_orders_sucess{margin: 15px 0 15px;}
 .booking_title{font-size: 16px;}
 .your_orders_sucess .booking_title{margin: 0 0 5px 0;}
 .your_orders_sucess .btn-success{margin: 12px 0 0;}
 .your_orders_sucess{padding-bottom: 27px;}
 .booking_isd label, .booking_isd p{font-size: 14px;}
 .booking_isd b{font-size: 14px;}
 .hotels_info_img h1{font-size: 16px;}
 .hotels_info_img p{font-size: 14px;}
 .hotels_info_img label strong{font-size: 18px;}
 .hotels_info_img h4 strong{font-size: 18px;}
 .date_info_list{margin: 0}
 .date_info_bookings ul li{margin: 0}
 .inner_book_list h3 span{font-size: 14px;}
 .inner_book_list h4{font-size: 14px;}
 .booking_info_ammounts label{font-size: 14px}
 .booking_info_ammounts h3{font-size: 14px;}
 .inner_book_list h3{font-size: 14px}
 .smothing_canceld b{font-size: 14px;padding: 0}
 .rules.cancel_pay h1{margin: 0}
 .rules h1{font-size: 16px}
 .rules li{line-height: 25px;}
 .rules.cancel_pay ul li{margin: 0}
 .hotel_info_img img{height: 70px; width: 70px;}
}


@media screen and (max-width: 575px){
.hotels_info_img{padding: 0 1px 0 15px;}	
.aligin_center h1{font-size: 25px;margin: 0px 0 18px;}	
.aligin_center{margin: 103px 0 0;}
.home_infomations_business .Intrro_section h2{margin: 36px 0 16px;}
.home_infomations_signup_free {    min-height: 167px;}	
.home_infomations_signup_free h2 {    margin: 19px 0 18px;    font-size: 22px;}	
.home_infomations_signup_free h3 {    font-size: 16px;}	
.home_infomations_signup_free .btn.btn-default{margin: 11px 0 17px;}	
.banner_leftsec .aligin_center{margin: 107px 0 0;}
.business_banner.banner_leftsec .signup_form {    margin: 0px 0 15px;}
.signup_form{padding: 35px 12px;}
.signup_butons .btn-primary{ font-size:20px;}
.landing_bussiness_pages .Intrro_section h2{font-size: 20px;margin: 1px 0 11px;}
.landing_bussiness_pages .Intrro_section p{ font-size:18px;}
.roomtype.search_fellid .duraction{ padding:0px;}
.mainsection .padding_left0 {    padding-left:15px !important;}
.list_infor_left .add_more{margin: 8px 0 14px 0;}
.list_infor_left{ border:none;}
.over_all_rating_right,.over_all_rating{ border:none;}
.all_items{ margin-bottom:10px;}
.guest_left.padding_15{ padding-right:15px!important; margin-bottom:20px;}



.select_room{float:left;width:100%;}
.select_room{ margin:0px;}	
.mainsection .book_now_inner{ text-align:left;}
.duraction {display: inline-block;padding: 0 15px; width:100%;}		
.list_of_explore img{max-width: 100%;    width: 100%;}	
.sign_bot_sub .btn-primary,.sign_bot_sub .btn-default{padding: 8px 28px;}
.signup_image{ margin:0px;}	
.singup_info .sign_up .signup_inner_containt label{ line-height:22px;}
.singup_info .sign_up .signup_inner_containt .form-control{height:40px;}
.singup_info .sign_up .signup_inner_containt .signup_btn{ line-height: 40px;}
.all_listing_custcol{max-width: 100%;}
.cust_all_items{width: 47%;}}
@media screen and (max-width: 475px) {
.search_info {float: none;text-align: center;}
.search_info .btn-primary {margin-top: 10px;}
.popular_by{min-height: 120px;}
.sort_by {min-height: 120px;}
.popular_by {margin-top: 0px;}
.aside_title{font-size: 15px;}
.space{min-height: 0px;}
footer h2{font-size: 15px;}
.footer_outer{padding: 0px;}
footer h2 {  font-size: 15px;  margin: 0;line-height: 35px; }
footer li{font-size: 13px;line-height: 20px;}
.list-inline{margin: 2px 0 0 0}
.facebook{margin: 0px;}
.admin_photo {    display: inline-block;    text-align: center;    width: 100%;}
.admin_inf {    margin: 0;}
.footer_social {float: right;margin: 0;text-align: center;width: 100%;}
.blog_det_admin{ padding-bottom:20px;}
footer{border-top:2px solid #e1e1e1;}
footer img{ padding-top:30px;}
.contact_det{ margin-bottom:20px;}
.proparty_img {    min-height: 187px;}
}

@media screen and (max-width: 414px) {
.Guest_Details .check .room_info{ font-size:15px;}	
.cust8 { max-width: 20.667%;}
.order_payments_reorder .btn-primary {background: #b7b7b7 none repeat scroll 0 0;border: 0 none;border-radius: 0;color: #fff;
font-size: 13px;margin: 0 3px 0 0;padding: 7px 16px;margin-top: 20px;}
.connect_with::before{display:none;}
.singup_info .sign_up .signup_inner_containt img{ max-width:129px;}
}
@media screen and (max-width: 380px) {
.cust8 {max-width: 24.667%;}
.pagination_section .page-link{font-size: 14px;line-height: 10px;}
.pagination_section .page-item.active .page-link{height: 25px;width: 25px;line-height: 8px;padding: 8px 8px 0 8px;}
.pagination_section nav .page_gyp::before{font-size: 26px;}
}
@media screen and (max-width: 320px){}

